.rating {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.rating__star {
  font-size: 24px;
  line-height: 1;
  color: #e3e3e3; // étoile grise
}

.rating__star.is-active {
  color: #ff6060; // rouge Kasa
}
