*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  font-family: "Montserrat", sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif; /* ou la typo demandée */
  color: #000;
  background: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 1024px) {
  .container {
    padding: 0 40px;
  }
}
