.footer {
  background-color: #000000;
  padding: 60px 0px 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  .footer-logo {
    filter: brightness(0) invert(1);
    width: 120px;
  }

  p {
    color: #FFFFFF;
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  
    .footer p {
        width: 100px;
        font-size: 12px;
        text-align: center;
        margin-bottom: 20px;
    }
    .footer {
      gap: 10px;
    }
}